@font-face {
    font-family: "bacalisties";
    src: url("./assets/font/Bacalisties.woff") format('woff'),
         url("./assets/font/Bacalisties.woff2") format('woff2');
}

@font-face {
    font-family: quicksand;
    font-style: normal;
    font-display: swap;
    src: url("./assets/font/Quicksand-VariableFont_wght.woff") format('woff'),
         url("./assets/font/Quicksand-VariableFont_wght.woff2") format('woff2');
    font-weight: 300 700;
}

/* Reset */

html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    position: relative;
    max-width: 1440px;
    background-color: var(--grey);
    margin: 0 auto;
}

button, p, h1, h2, li, div, ul, a {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

:root {
    /* Font */
    --font-baca: "bacalisties";

    --font: var(--font-baca);

    /* Colors */
    --black: #3e1d00;
    --general-black: #181819;
    --white: #F9F6EE;
    --grey: #F5F5F5;
    --dark-grey: #667085;
    --dark-orange: #804600;
    --light-orange: #FFC680;

    /* General var-colors */
    --text-color: var(--white);
}

/* Body */

.parallax {
    position: relative;

    /* The image used */
    background-image: url("./assets/gateau.jpg");
    
    /* Full height */
    height: 100%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: -100px;
    background-color: var(--dark-orange);
    opacity: 50%;
}

/* Header */

.headerWrapper {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    width: 100%;
    height: 70px;
}

.header_style {
    font-family: var(--font);
    font-size: 30px;
    color: var(--black);
}

.header_logo {
    padding-left: 40px;
}

.header_text {
    padding-right: 40px;
}

.header_date {
    font-family: quicksand;
    font-size: 40px;
    color: var(--black);
}


/* Main */

.text {
    font-family: var(--font);
    color: var(--text-color);
}

h1 {
    position: relative;
    top: 290px;
    font-size: 200px;
    width: 100%;
    text-align: center;
}

#demo {
    position: relative;
    top: 210px;
    font-family: quicksand;
    font-size: 50px;
    color: var(--white);
    text-align: center;
    font-weight: 700;
}
