/* Reset */

html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    max-width: 1440px;
    background-color: var(--grey);
    margin: 0 auto;
}

button, p, h1, h2, li, div, ul, a {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.background_img {
    width: 100%;
}